<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container bg-secondary text-white" data-th-fragment="footer">
      <br>
       <div class="row">
       		<div class="col-4">
       			<h5 class="white-text">Contáctanos</h5>
       			<p>E-MAIL: consultas@unju.edu.ar</p>
       			<p>TELÉFONO: 0388 343-1234</p>
       			<p>DIRECCIÓN: Av.Bolivia 1239</p>
       			<p>San Salvador de Jujuy-Argentina</p>
       		</div>
         	<div class="col-4">
            	<h5 class="white-text">Síguenos en redes:</h5>
                	<p>	<a class="text-white fw-bold" href="https://www.facebook.com/universidadnacionaldejujuy/" target="_blank">Facebook</a> </p>
                	<p> <a class="text-white fw-bold" href="https://x.com/i/flow/login?redirect_after_login=%2Fprensaunju" target="_blank">Twitter</a> </p>
                	<p> <a class="text-white fw-bold" href="https://tv.unju.edu.ar/" target="_blank">Youtube</a> </p>
            </div>
            <div class="col-4 text-center">
            	<img alt="logo" src="/images/unju1.png" class="img-fluid">
                <p>&copy; 2024 Llanos Mateo Ezequiel.</p> 
                <p> Todos los derechos reservados.</p>
            </div>
       </div>
     </div>
</body>
</html>