<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary"
		data-th-fragment="navbar">
		<div class="container-fluid">

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/#1">INICIO</a></li>
					<li class="nav-item"><a class="nav-link" href="#">ACERCA
							DE</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> CARRERAS </a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Ingenieria
									informática</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Ingenieria en
									minas</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Ingenieria química</a></li>
						</ul></li>
					<li class="nav-item"><a class="nav-link" href="/#4">NOTICIAS</a>
					</li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle fw-bolder text-info-emphasis"
						href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false"> Carreras </a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item fw-bolder text-info-emphasis"
								href="/formularioCarrera">Formulario</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item fw-bolder text-info-emphasis"
								href="/carreras">Listado</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle fw-bolder text-info-emphasis"
						href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false"> Docentes </a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item fw-bolder text-info-emphasis"
								href="/formularioDocente">Formulario</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item fw-bolder text-info-emphasis"
								href="/docentes">Listado</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle fw-bolder text-info-emphasis"
						href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false"> Alumnos </a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item fw-bolder text-info-emphasis"
								href="/formularioAlumno">Formulario</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item fw-bolder text-info-emphasis"
								href="/alumnos">Listado</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle fw-bolder text-info-emphasis"
						href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false"> Materias </a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item fw-bolder text-info-emphasis"
								href="/formularioMateria">Formulario</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item fw-bolder text-info-emphasis"
								href="/materias">Listado</a></li>
						</ul>
				    </li>
				</ul>
				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Buscar"
						aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Buscar</button>
				</form>
			</div>
		</div>
	</nav>
	<!-- <nav class="navbar" data-th-fragment="navbar">
    	<div class="nav-wrapper">
      	<a href="#" class="brand-logo">Logo</a>
      	<ul id="nav-mobile" class="right hide-on-med-and-down">
        	<li><a href="sass.html">Sass</a></li>
        	<li><a href="badges.html">Components</a></li>
        	<li><a href="collapsible.html">JavaScript</a></li>
      	</ul>
    	</div>
  	</nav>
  	<div data-th-fragment="pagination">
	  	<ul class="pagination">
		    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
		    <li class="active"><a href="#!">1</a></li>
		    <li class="waves-effect"><a href="#!">2</a></li>
		    <li class="waves-effect"><a href="#!">3</a></li>
		    <li class="waves-effect"><a href="#!">4</a></li>
		    <li class="waves-effect"><a href="#!">5</a></li>
		    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
	  	</ul>
  	</div> -->
</body>
</html>